<a href="https://colab.research.google.com/github/khanapujiyanti/M2P2Ve_Konversi_Struktur_Data/blob/main/M2P2V3__Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictionary

#Mengkonvesi tipe data list:

In [ ]:
#Membuat 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [ ]:
#Mengkonversi struktur data tuple

k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

#Mengkonversi tipe daata tuple

In [ ]:
#membuat duatuple
T1= (1,2,3,4)
T2= (5,6,7,8)

#Membuat struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))
#Memanggil data yang telah dikonversi
print(k_list, k_set, k_dict)

[1, 2, 3, 4] {8, 5, 6, 7} {1: 5, 2: 6, 3: 7, 4: 8}

#Mengkonversi tipe data set:

In [ ]:
#Membuat dua set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1,S2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

#Mengkonversi tipe data dictionary

In [ ]:
#Membuat dictionary
D = {"nama":"Andi", "Alamat":"Yogyakarta","umur":20}

#mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Memanggil data yang telah dikonversi
print("k_list :", k_list)
print("k_tuple :", k_tuple)
print("k_set :", k_set)

k_list : ['nama', 'Alamat', 'umur']
k_tuple : ('Andi', 'Yogyakarta', 20)
k_set : {'umur', 'nama', 'Alamat'}

In [ ]:
#LAkukan konversi struktur data yang kaliam buat pada notebook-notebook
#sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

#Mengkonversi tipe data list
print("Mengkonversi tipe data List")
l1 = ["aku", 4, 2+2j, "lapar", True, 4.4]
l2 = ['aku', 4, 2+2j, 3, True, 4.4]
print("k_tuple :", tuple(l1))
print("k_set :", set(l2))
print("k_dict :", dict(zip(l1,l2)))
print("-"*79)

#Mengkonversi tipe data tuple
print("Mengkonversi tipe data tuple")
t1 = ("tujuh", 4, 3+9j, False)
t2 = (True, 3.6, "lima", 1)
print("k_list :", list(t1))
print("k_set :", set(t2))
print("k_dict :", dict(zip(t2,t1)))
print("-"*79)

#Mengkonversi tipe data set
s1 = {3, False, "one", 7+8j, True}
s2 = {1+2j, False, "satu", 11, False}
print("k_list ;", list(s1))
print("k_tuple :", tuple(s2))
print("k_dicy :", dict(zip(s1,s2)))
print("-"*79)

#mengkonversi tipe data dictionary
print("Mengkonversi tipe data dictionary")
d1 = {3:'tiga','key':6+5j}
print("k_list :", list(d1.values()))
print("k_tuple :", tuple(d1.keys()))
print("k_set :", set(d1.keys()))

Mengkonversi tipe data List
k_tuple : ('aku', 4, (2+2j), 'lapar', True, 4.4)
k_set : {'aku', True, 3, 4, 4.4, (2+2j)}
k_dict : {'aku': 'aku', 4: 4, (2+2j): (2+2j), 'lapar': 3, True: True, 4.4: 4.4}
-------------------------------------------------------------------------------
Mengkonversi tipe data tuple
k_list : ['tujuh', 4, (3+9j), False]
k_set : {True, 3.6, 'lima'}
k_dict : {True: False, 3.6: 4, 'lima': (3+9j)}
-------------------------------------------------------------------------------
k_list ; [False, True, 3, 'one', (7+8j)]
k_tuple : (False, 'satu', 11, (1+2j))
k_dicy : {False: False, True: 'satu', 3: 11, 'one': (1+2j)}
-------------------------------------------------------------------------------
Mengkonversi tipe data dictionary
k_list : ['tiga', (6+5j)]
k_tuple : (3, 'key')
k_set : {3, 'key'}